// disable utilities to use tailwindcss utilities
@use "vuetify" with (
  $utilities: false
);

// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  body {
    .v-application {
      background: var(--main-bg);
      color: var(--text);
    }
  }
}
